* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgb(113, 45, 190);
  border-radius: 5px;
  position: relative;
  &.start {
    svg {
      animation: rotate 3s linear infinite;
    }
    .micro {
      opacity: 0;
      transform: scale(0);
      visibility: hidden;
    }
    .dots {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      .dot {
        animation-play-state: running !important;
      }
    }
    .white {
      circle {
        animation: circle-w 3s linear infinite;
      }
    }
    .violet {
      z-index: 5;
      circle {
        stroke-width: 5px;
        animation: circle-g 3s linear infinite;
      }
    }
  }
}
.micro {
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 6;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  span {
    font-size: 4rem;
    color: white;
  }
}
svg {
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: visible;
  &.white {
    z-index: 2;
    circle {
      stroke: #fff;
      stroke-width: 3px;
    }
  }
  &.violet {
    circle {
      stroke: rgb(113, 45, 190);
      stroke-width: 4px;
    }
  }
}
.dots {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  transform: scale(0.5);
  transition: all 0.2s linear;
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    animation-play-state: paused !important;

    &:nth-child(1) {
      animation: dot 0.6s linear infinite 0s alternate;
    }
    &:nth-child(2) {
      animation: dot 0.6s linear infinite 0.2s alternate;
    }
    &:nth-child(3) {
      animation: dot 0.6s linear infinite 0.4s alternate;
    }
  }
}

@keyframes dot {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-w {
  0% {
    stroke-dasharray: 0 250;
  }
  50%,
  100% {
    stroke-dasharray: 250 0;
  }
}
@keyframes circle-g {
  100% {
    stroke-dasharray: 260 0;
  }
  0%,
  50% {
    stroke-dasharray: 0 260;
  }
}
