* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  background-color: #676b91;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 120px;
  margin: 0 15px;
}

.blocks .block {
  width: 33%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blocks .block__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 20px 15px;
}

.blocks .block__text .line {
  height: 5px;
  background-color: #dddddd;
  margin-bottom: 5px;
  border-radius: 5px;
}

.blocks .block__text .line-1 {
  width: 80%;
}

.blocks .block__text .line-2 {
  width: 100%;
}

.blocks .block__text .line-3 {
  width: 70%;
}

.blocks .block__text .line-4 {
  width: 50%;
}

.blocks .block__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  background-color: orange;
}

.blocks .block:nth-child(1) {
  -webkit-animation: move-block-1 4s ease infinite;
          animation: move-block-1 4s ease infinite;
}

.blocks .block:nth-child(2) {
  -webkit-animation: move-block-2 4s ease infinite;
          animation: move-block-2 4s ease infinite;
}

.blocks .block:nth-child(3) {
  -webkit-animation: move-block-3 4s ease infinite;
          animation: move-block-3 4s ease infinite;
}

@-webkit-keyframes move-block-1 {
  0% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    left: calc(50% - 33% / 2);
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  67% {
    left: calc(100% - 33%);
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    left: 0;
    z-index: 2;
  }
}

@keyframes move-block-1 {
  0% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    left: calc(50% - 33% / 2);
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  67% {
    left: calc(100% - 33%);
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    left: 0;
    z-index: 2;
  }
}

@-webkit-keyframes move-block-2 {
  0% {
    left: 0;
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  33% {
    left: 33%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    left: -33%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes move-block-2 {
  0% {
    left: 0;
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  33% {
    left: 33%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    left: -33%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes move-block-3 {
  0% {
    left: 0;
    z-index: 2;
  }
  33% {
    left: -67%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    left: -33%;
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move-block-3 {
  0% {
    left: 0;
    z-index: 2;
  }
  33% {
    left: -67%;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    left: -33%;
    z-index: 5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    left: 0;
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
