* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgb(165, 19, 201);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.ellipse {
  width: 100px;
  height: 150px;
  background-color: white;
  border-radius: 50% 50% 0 0;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 105%;
    height: 50%;
    background-color: rgb(165, 19, 201);
    bottom: 0;
  }
}

.circle {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}

.egg {
  animation: egg 3s ease-in-out infinite;
  position: absolute;
  transform-origin: 50px 75px;
}

@keyframes egg {
  0% {
    top: -200px;
  }
  15% {
    transform: scaleX(1);
  }
  20% {
    top: 150px;
    transform: scaleX(1.15);
  }
  25% {
    transform: scaleX(1);
    top: 125px;
  }
  30% {
    transform: scaleX(1.1);
    top: 150px;
    transform: rotate(0);
  }
  35% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  44% {
    transform: rotate(-10deg);
  }
  46% {
    transform: rotate(0deg);
  }
  69% {
    top: 150px;
  }
  75% {
    top: 125px;
  }
  100% {
    top: 150%;
  }
}
