* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  background-color: #222;
  position: relative;
  &:hover .square {
    animation-play-state: paused;
  }
}
.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  background: #222;
}

$startVal: 220px;
$minDelay: 0.04;
@for $i from 1 to 21 {
  $width: $i * 10px;
  $delay: #{$i * $minDelay}s;
  .square-#{$i} {
    width: $startVal - $width;
    height: $startVal - $width;
    animation: rotate-square 2s infinite $delay ease-in-out alternate;
  }
}

@keyframes rotate-square {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
