* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  background-color: #0fa169;
  border-radius: 5px;
  position: relative;
}

.line {
  overflow: visible;
}

.line path {
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 40 690;
  stroke-linecap: round;
  -webkit-animation: stroke 2s linear infinite;
          animation: stroke 2s linear infinite;
}

.ring {
  position: absolute;
  top: 200px;
  left: 160px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid white;
  -webkit-animation: size 2s ease infinite;
          animation: size 2s ease infinite;
}

@-webkit-keyframes size {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes size {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes stroke {
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: -670;
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: -670;
  }
}
