* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  background-color: #222c3d;
  border-radius: 5px;
  position: relative;
}

.candle {
  width: 70px;
  height: 110px;
  background-color: #d2efff;
  border-radius: 3px;
  position: relative;
}

.candle::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 100%;
  background-color: white;
  top: 0;
  z-index: 6;
  left: 0;
  border-radius: 3px;
}

.candle::after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 7px;
  left: -50%;
  border-radius: 5px;
  background-color: #0c1018;
  width: 200%;
}

.candle .fire {
  height: 20px;
  width: 12px;
  background-color: #ffb006;
  -webkit-box-shadow: 0 0 15px #ffb006;
          box-shadow: 0 0 15px #ffb006;
  position: absolute;
  top: -30px;
  left: calc(50% - 7.5px);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 10%;
  border-top-left-radius: 100%;
  -webkit-animation: candle 3s linear infinite alternate;
          animation: candle 3s linear infinite alternate;
}

.candle .fire::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: calc(50% - 1px);
  width: 2px;
  height: 20px;
  background-color: brown;
  z-index: 3;
}

@-webkit-keyframes candle {
  0% {
    border-top-right-radius: 10%;
    border-top-left-radius: 100%;
  }
  50% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
  }
  100% {
    border-top-left-radius: 10%;
    border-top-right-radius: 100%;
  }
}

@keyframes candle {
  0% {
    border-top-right-radius: 10%;
    border-top-left-radius: 100%;
  }
  50% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
  }
  100% {
    border-top-left-radius: 10%;
    border-top-right-radius: 100%;
  }
}
