* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  background-color: #7ab8ff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.sun {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ffd13b;
  top: 50px;
  left: 100px;
}

svg,
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cloud-1 {
  position: absolute;
  top: 150px;
  left: -150px;
  -webkit-animation: cloud 60s linear infinite alternate;
          animation: cloud 60s linear infinite alternate;
}

.cloud-2 {
  position: absolute;
  top: 120px;
  left: -150px;
  -webkit-animation: cloud 40s linear infinite alternate;
          animation: cloud 40s linear infinite alternate;
}

.cloud-3 {
  position: absolute;
  top: 70px;
  left: -150px;
  -webkit-animation: cloud 50s linear infinite alternate;
          animation: cloud 50s linear infinite alternate;
}

svg {
  z-index: 5;
}

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(560px);
            transform: translate(560px);
  }
}

@keyframes cloud {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(560px);
            transform: translate(560px);
  }
}
