* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  position: relative;
  background-color: #162f50;
}

.title {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  z-index: 5;
}

.orange {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: orange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.orange .title {
  position: absolute;
  left: 95px;
  top: 157px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
